<!-- Expedition Order -->
<div
  class="grid grid-cols-12 w-screen h-screen bg"
  (click)="pushHndle()"
  *ngIf="!voice_command.sleep"
>
  <div class="col-span-10">
    <!-- expedition  -->
    <div
      class="ml-3 rounded-bl-xl grid grid-cols-1 bg-[radial-gradient(#00000017_1px,transparent_1px)] [background-size:10px_10px]"
      [ngClass]="
        !voice_command.darkMode ? ' bg-gray-600/90 ' : ' bg-purple-700 '
      "
    >
      <div class="w-full grid grid-cols-12">
        <div class="px-2 py-1 col-span-3 flex items-center justify-center">
          <h1
            class="font-semibold text-2xl text-center drop-shadow-md"
            [ngClass]="
              !voice_command.darkMode ? ' text-white ' : 'text-gray-100'
            "
          >
            Expedition Order
          </h1>
        </div>
        <div class="col-span-9 gap-2 px-1">
          <div class="grid grid-flow-col">
            <app-countdown-timer
              *ngFor="let i of mergedCommand.command"
              [cp]="i.code"
              [initialMinutes]="i.nextDepart"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- commande -->
    <div
      class="col-span-4 backdrop-blur drop-shadow-xl shadow-2xl mx-[10px] my-[13px] rounded-lg"
      [ngClass]="!voice_command.darkMode ? ' bg-white/60' : 'bg-black/60'"
    >
      <div class="py-2 flex justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-7 h-7"
          [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 6.878V6a2.25 2.25 0 012.25-2.25h7.5A2.25 2.25 0 0118 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 004.5 9v.878m13.5-3A2.25 2.25 0 0119.5 9v.878m0 0a2.246 2.246 0 00-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0121 12v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6c0-.98.626-1.813 1.5-2.122"
          />
        </svg>
        <h1
          class="ml-3 font-semibold text-lg text-center flex justify-center items-center"
          [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
        >
          Commande
        </h1>
      </div>
      <!-- tirage loop -->
      <div class="grid grid-cols-3">
        <app-command-item
          *ngFor="let i of mergedCommand.command"
          [pharName]="i.RAISOCI"
          [pharCode]="i.code"
          [tireurNumber]="i.EVT_TIREUR"
          [controlerNumber]="i.EVT_TCTRL"
          [inprimeTime]="i.EVT_HRFIN"
        />
      </div>
    </div>

    <!-- Taches -->
    <div class="grid grid-cols-12 gap-1 px-2">
      <!-- tirage tache -->
      <div
        class="col-span-4 drop-shadow-xl backdrop-blur mr-1 rounded-lg"
        [ngClass]="!voice_command.darkMode ? 'bg-white/60' : 'bg-black/60'"
      >
        <div class="m-2 flex justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-7 h-7"
            [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"
            />
          </svg>
          <h1
            class="ml-3 text-lg font-semibold text-center flex justify-center items-center"
            [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
          >
            Tirage
          </h1>
        </div>

        <!-- tirage loop -->
        <div *ngIf="!voice_command.tirage">
          <ng-container
            *ngFor="let card of flipedCards.visibleCards; let i = index"
          >
            <div
              [ngClass]="
                voice_command.animation
                  ? i % 2 === 0
                    ? 'animate-rotate-y animate-ease-in-out '
                    : 'animate-rotate-x animate-ease-in-out'
                  : ''
              "
            >
              <app-tirage-item
                [index]="i"
                [qtt]="card.QTE"
                [ligne]="card.LIGNE"
                [tireur]="card.EVT_TIREUR"
              />
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-span-4">
        <div class="flex flex-col gap-1 h-[420px]">
          <!-- controle taches -->
          <div
            class="h-[50%] w-full shadow-xl backdrop-blur rounded-md"
            [ngClass]="!voice_command.darkMode ? 'bg-white/60' : 'bg-black/60'"
          >
            <div class="m-2 flex justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-7 h-7"
                [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"
                />
              </svg>
              <h1
                class="ml-3 font-semibold text-lg text-center flex justify-center items-center"
                [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
              >
                Controle
              </h1>
            </div>
            <div class="mt-4">
              <!-- controle loop -->
              <ng-container
                *ngFor="let card of flipedCards.visibleCards1; let i = index"
              >
                <app-controle-item
                  [animation]="voice_command.animation"
                  [qtt]="card.QTE"
                  [ligne]="card.LIGNE"
                  [controler]="card.EVT_CTRL"
                  [@flipAnimation]="i % 2 === 0 ? 'front' : 'back'"
                />
              </ng-container>
            </div>
          </div>

          <!-- emballage taches -->
          <div
            class="h-[50%] w-full shadow-xl backdrop-blur rounded-md"
            [ngClass]="!voice_command.darkMode ? 'bg-white/60' : 'bg-black/60'"
          >
            <div class="m-2 flex justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-7 h-7"
                [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M7.875 14.25l1.214 1.942a2.25 2.25 0 001.908 1.058h2.006c.776 0 1.497-.4 1.908-1.058l1.214-1.942M2.41 9h4.636a2.25 2.25 0 011.872 1.002l.164.246a2.25 2.25 0 001.872 1.002h2.092a2.25 2.25 0 001.872-1.002l.164-.246A2.25 2.25 0 0116.954 9h4.636M2.41 9a2.25 2.25 0 00-.16.832V12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 12V9.832c0-.287-.055-.57-.16-.832M2.41 9a2.25 2.25 0 01.382-.632l3.285-3.832a2.25 2.25 0 011.708-.786h8.43c.657 0 1.281.287 1.709.786l3.284 3.832c.163.19.291.404.382.632M4.5 20.25h15A2.25 2.25 0 0021.75 18v-2.625c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125V18a2.25 2.25 0 002.25 2.25z"
                />
              </svg>
              <h1
                class="ml-3 font-semibold text-lg text-center flex justify-center items-center"
                [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
              >
                Emballage
              </h1>
            </div>
            <!-- emballage loop -->
            <div class="mt-4">
              <app-emballage-item
                [emballager]="'033'"
                [ligne]="345"
                [qtt]="409"
              />
              <app-emballage-item
                [emballager]="'033'"
                [ligne]="345"
                [qtt]="409"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-4">
        <div
          class="grid grid-cols-12 mr-1 backdrop-blur shadow-xl rounded-lg h-[49.5%]"
          [ngClass]="!voice_command.darkMode ? 'bg-white/60' : 'bg-black/60'"
        >
          <div class="m-2 flex justify-center col-span-4">
            <div class="flex justify-center items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-7 h-7"
                [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"
                />
              </svg>
            </div>
            <div class="flex justify-center items-center">
              <h1
                class="ml-3 font-semibold text-lg text-center flex justify-center items-center"
                [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
              >
                inventaire
              </h1>
            </div>
          </div>
          <!-- tirage loop -->
          <div class="col-span-8 w-full flex justify-center items-center">
            <ng-container *ngFor="let i of invontaire">
              <app-inventaire-item
                [animation]="voice_command.animation"
                [inv]="i.INV"
                [code]="i.code"
              />
            </ng-container>
          </div>
        </div>

        <div
          class="grid grid-cols-12 shadow-xl backdrop-blur mr-1 mt-1 rounded-lg h-[49.5%]"
          [ngClass]="!voice_command.darkMode ? 'bg-white/60' : 'bg-black/60'"
        >
          <div class="m-2 flex justify-center col-span-4">
            <div class="flex justify-center items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-7 h-7"
                [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125"
                />
              </svg>
            </div>
            <div class="flex justify-center items-center">
              <h1
                class="ml-3 text-lg font-semibold text-center flex justify-center items-center"
                [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
              >
                Stockage
              </h1>
            </div>
          </div>
          <!-- tirage loop -->
          <div class="col-span-8 w-full flex justify-center items-center">
            <ng-container *ngFor="let i of invontaire">
              <app-inventaire-item
                [animation]="voice_command.animation"
                [inv]="i.INV"
                [code]="i.code"
              />
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div
      class="grid grid-cols-12 m-3 gap-2 backdrop-blur drop-shadow-xl bg-opacity-50 rounded-xl mt-[25px] p-2"
      [ngClass]="!voice_command.darkMode ? 'bg-white/60' : 'bg-black/60'"
    >
      <div class="col-span-1">
        <div class="rounded-lg col-span-6">
          <div class="flex flex-col items-center justify-center mt-20">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-11 h-11"
                [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5M9 11.25v1.5M12 9v3.75m3-6v6"
                />
              </svg>
            </div>
            <div>
              <h1
                class="font-bold text-xl mt-1"
                [ngClass]="!voice_command.darkMode ? '' : 'text-white'"
              >
                Statistique
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div
        class="rounded-lg col-span-5 drop-shadow -lg"
        [ngClass]="!voice_command.darkMode ? 'bg-white/50' : 'bg-black/50'"
      >
        <div class="flex flex-row">
          <div class="w-full ml-2">
            <app-bar-chart-horizontal />
          </div>
          <div class="w-1/3">
            <app-doughnut-chart></app-doughnut-chart>
          </div>
        </div>
      </div>
      <div class="col-span-4">
        <app-serie-chart />
      </div>
      <div class="col-span-2">
        <div
          *ngFor="let i of messagesArray.slice(-2)"
          id="toast-message-cta"
          class="w-full animate-fade-left animate-ease-in-out mb-1 max-w-xs p-2 text-gray-500 bg-white/50 rounded-lg shadow dark:text-gray-400"
          role="alert"
        >
          <div class="flex">
            <div class="max-w-[20%] flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-10 h-10 text-purple-900"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
            </div>

            <div class="ms-3 text-sm font-normal">
              <span class="mb-1 text-sm font-semibold text-gray-900">{{
                i?.username
              }}</span>
              <div class="mb-2 text-sm font-normal text-gray-500">
                {{ i?.message }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- notification-container -->
  <div
    class="col-span-2  bg-gray-600/90 bg-[radial-gradient(#00000017_1px,transparent_1px)] [background-size:10px_10px] px-3"
  >
    <!-- clock weather -->
    <div class="bg-[#5a9edb] rounded-lg mt-1">
      <app-clock></app-clock>
      <app-weather></app-weather>
    </div>
    <!-- good tirage -->
    <div *ngFor="let i of best3T">
      <app-best-of-tirage-item
        [animation]="voice_command.animation"
        [ligne]="i.LIGNE"
        [qtt]="i.QTE"
        [tireur]="i.EVT_TIREUR"
      />
    </div>
    <!-- bad tirage -->
    <div *ngFor="let i of worst3T">
      <app-worst-of-tirage-item
        [animation]="voice_command.animation"
        [ligne]="i.LIGNE"
        [qtt]="i.QTE"
        [tireur]="i.EVT_TIREUR"
      />
    </div>
    <!-- bls no controle or tirage -->
    <div
      class="grid grid-cols-1 shadow-lg rounded-lg"
      [ngClass]="!voice_command.darkMode ? 'bg-white' : 'bg-black'"
    >
      <div
        class="grid grid-cols-1 shadow-inner rounded-lg m-2"
        [ngClass]="!voice_command.darkMode ? 'bg-gray-300' : 'bg-gray-700'"
      >
        <div class="flex font-bold text-black h-[25px] justify-center mt-2">
          <h1
            class="border-b-2"
            [ngClass]="
              !voice_command.darkMode
                ? ' border-white'
                : 'border-black text-white'
            "
          >
            BL N-Tirage
          </h1>
        </div>
        <div
          class="flex justify-center items-center"
          *ngFor="let i of countingNT"
        >
          <h1
            class="animate-fade-down animate-once animate-duration-1000 animate-delay-[10ms] animate-ease-in-out font-extrabold text-[30px]"
            [ngClass]="
              !voice_command.darkMode ? 'text-purple-700 ' : 'text-purple-300 '
            "
          >
            {{ i >= 0 ? i : 0 }}
          </h1>
        </div>
      </div>
      <div
        class="grid grid-cols-1 shadow-inner rounded-lg m-2"
        [ngClass]="!voice_command.darkMode ? 'bg-gray-300' : 'bg-gray-700'"
      >
        <div class="flex font-bold text-black h-[25px] justify-center mt-2">
          <h1
            class="border-b-2"
            [ngClass]="
              !voice_command.darkMode
                ? ' border-white'
                : 'border-black text-white'
            "
          >
            BL N-Controle
          </h1>
        </div>
        <div
          class="flex justify-center items-center"
          *ngFor="let i of countingNC"
        >
          <h1
            class="animate-fade-down animate-once animate-duration-1000 animate-delay-[10ms] animate-ease-in-out font-extrabold text-[30px]"
            [ngClass]="
              !voice_command.darkMode ? 'text-purple-700' : 'text-purple-400'
            "
          >
            {{ i >= 0 ? i : 0 }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="h-screen bg-opacity-25" *ngIf="voice_command.sleep">
  <app-sleeping-mode></app-sleeping-mode>
</div>

<div
  *ngIf="voice_command.tirage"
  class="h-screen w-screen fixed top-0 inset-0 backdrop-blur-sm z-50 bg-gray-600 opacity-100 bg-opacity-40 animate-jump-in animate-once animate-duration-[1500ms] animate-ease-in-out"
>
  <div
    class="m-2 flex justify-center bg-gradient-to-r from-cyan-500 to-blue-500 bg-opacity-50 rounded-2xl"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="white"
      class="w-10 h-10"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"
      />
    </svg>
    <h1
      class="ml-3 font-semibold text-center text-2xl flex justify-center items-center text-white"
    >
      TIRAGE
    </h1>
  </div>
  <div class="grid grid-cols-2">
    <div>
      <div class="grid grid-cols-2">
        <ng-container
          *ngFor="let card of flipedCards.visibleCardsZ; let i = index"
        >
          <app-zoomed-tirage
            [animation]="voice_command.animation"
            [index]="i"
            [qtt]="card.QTE"
            [ligne]="card.LIGNE"
            [tireur]="card.EVT_TIREUR"
          />
        </ng-container>
      </div>
      <div class="grid grid-cols-1 bg-white m-2 rounded-lg bg-opacity-40">
        <div class="mx-2">
          <div *ngFor="let i of best3T">
            <app-best-of-tirage-item
              [animation]="voice_command.animation"
              [ligne]="i.LIGNE"
              [qtt]="i.QTE"
              [tireur]="i.EVT_TIREUR"
            />
          </div>
        </div>
        <div class="m-2">
          <div *ngFor="let i of worst3T">
            <app-worst-of-tirage-item
              [animation]="voice_command.animation"
              [ligne]="i.LIGNE"
              [qtt]="i.QTE"
              [tireur]="i.EVT_TIREUR"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white bg-opacity-40 rounded-xl">
      <div class="m-2 flex justify-center rounded-2xl bg-white p-2">
        <div class="flex justify-center items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="red"
            class="w-7 h-7"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
            />
          </svg>
        </div>

        <h1
          class="ml-3 font-semibold text-center text-2xl flex justify-center items-center text-black"
        >
          Not tiraged
        </h1>
        <div
          class="flex justify-center items-center ml-11 text-red-600 px-2 rounded-full text-xl font-bold"
        >
          <span> {{ lastTest.waitingCmd.length }}</span>
        </div>
      </div>

      <app-not-tiraged
        [animation]="voice_command.animation"
        *ngFor="let i of flipedCards.visibleCardsNOT; let x = index"
        [index]="x"
        [pharName]="i.RAISOCI"
        [pharCode]="i.EVT_SECT"
        [inprimeTime]="i.EVT_HRFIN"
      />
      <div class="grid grid-cols-12 bg-white bg-opacity-50 rounded-xl mx-2">
        <div class="col-span-12">
          <div class="flex flex-col items-center justify-center py-5">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-11 h-11"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5M9 11.25v1.5M12 9v3.75m3-6v6"
                />
              </svg>
            </div>
            <div>
              <h1 class="font-bold text-2xl mt-1">statistique</h1>
            </div>
          </div>
        </div>
        <div class="col-span-12 grid grid-cols-2 relative">
          <div class="flex flex-col p-3">
            <div
              *ngFor="let i of messagesArray.slice(-4)"
              id="toast-message-cta"
              class="w-full animate-fade-left animate-ease-in-out mb-1 max-w-xs p-2 text-gray-500 bg-white/50 rounded-lg shadow dark:text-gray-400"
              role="alert"
            >
              <div class="flex">
                <div class="max-w-[20%] flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-10 h-10 text-purple-900"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                  </svg>
                </div>

                <div class="ms-3 text-sm font-normal">
                  <span class="mb-1 text-sm font-semibold text-gray-900">{{
                    i?.username
                  }}</span>
                  <div class="mb-2 text-sm font-normal text-gray-500">
                    {{ i?.message }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-[80%] py-5">
            <app-doughnut-chart />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="voice_command.bestOfTirage"
    class="h-sc absolute h-screen inset-0 backdrop-blur-sm z-50 bg-gray-600 opacity-100 bg-opacity-40"
  ></div>
</div>
