<div class="w-full h-screen bg-black bg-opacity-25 ocean" >

    <div class="absolute z-50 rounded-br-lg rounded-bl-lg m-auto left-0 right-0">
        <div class="flex items-center justify-center mt-7">
          <h2 class="font-thin mr-1 text-white text-3xl">{{ city }}</h2>
        </div>
        <div class="flex items-center justify-center ">
          <img class="w-16"
            [src]="'http://openweathermap.org/img/wn/' + (weatherData?.weather[0]?.icon || '') + '.png'"
            alt="Weather Icon"
          />
          <div class="flex flex-col">
            <p class="font-bold text-[20px] ml-[20px] text-white mb-[-20px] drop-shadow">°C</p>
            <p class="font-black text-white text-[40px] animate-fade-down animate-once animate-duration-[1500ms] animate-ease-in-out">{{ roundedTemperature }}</p>
          </div>
        </div>


        <div class="w-full flex flex-col justify-center items-center mt-28 gap-16">
            <div class="clock drop-shadow">
                <div class="hand second-hand" [style.transform]="'rotate(' + secondHandRotation + 'deg)'"></div>
                <div class="hand minute-hand" [style.transform]="'rotate(' + minuteHandRotation + 'deg)'"></div>
                <div class="hand hour-hand" [style.transform]="'rotate(' + hourHandRotation + 'deg)'"></div>
              </div> 
            <div class="flex justify-center items-center">
                <ng-container *ngFor="let i of currArr">
                  <p class="text-[100px] text-white font-bold text-ellipsis animate-fade-down animate-once animate-duration-[1500ms] animate-ease-in-out">{{ i }} </p>
                </ng-container>
              
                <p class="text-[100px] text-white font-black flex justify-center items-center m-1"> : </p>
                <ng-container *ngFor="let i of min">
                  <p class="text-[100px] text-white font-bold text-ellipsis animate-fade-down animate-once animate-duration-[1500ms] animate-ease-in-out"> {{ i}} </p>
                </ng-container>
                <ng-container *ngFor="let i of aPs">
                  <p class="ml-2 font-bold text-gray-400 text-[80px] animate-fade-down animate-once animate-duration-[1500ms] animate-ease-in-out">{{i}}</p>
                </ng-container>    
              </div>
        </div>


      </div>
 
      
    <div class="hero_area">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
              <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
              <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
              <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
      </svg>
  </div>
  
  </div>