/* Waves Animation start*/

.hero_area {
    position: relative;
    height: 100vh;
    background-color: black;
}

.waves {
    position: absolute;
    width: 100%;
    height: 30vh;
    min-height: 100px;
    max-height: 350px;
    bottom: 0;
    left: 0;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}

.clock {  
    width: 100px;
    height: 100px;
    background-color:white;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: 7px;
    transform: rotate(-400deg); /* Rotate the clock face to align the hands correctly */
  
    /* Add other clock styling as needed */
  }
  
  .hand {
    position: absolute;
    transform-origin: center bottom;
    transition: transform 0.5s cubic-bezier(0.4, 2.4, 0.55, 0.9);
    background-color: #333;
  }
  
  .second-hand {
    width: 2px;
    height: 50%;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .minute-hand {
    width: 2px;
    height: 40%;
    top: 12%;
    left: 50%;
    transform: translateX(50%);
  }
  
  .hour-hand {
    width: 2px;
    height: 25%;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
  }
  